ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: inherit;
  text-align: right;
  justify-content: right;
}

li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  text-align: inherit;
  justify-content: right;
}
